[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1"
djangorestframework = "*"
requests = "*"
"psycopg2" = "*"
gunicorn = "*"
envparse = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
django-safedelete = "*"
"beautifulsoup4" = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
